<!-- 
<div *ngFor="let actor of cast">
    <img [src]="actor.profile_path | poster" [alt]="actor.name" 
    class="img-fluid rounded-circle" />
    {{ actor.name }}
</div> -->

<div id="carouselExampleControls" class="carousel slide"  data-ride="carousel" style="background-color: #555555;" >
    <div class="carousel-inner">
        <div class="carousel-item" [class.active]="isFirs" style="width: 90%; margin: auto;"  *ngFor="let item of cast; let isFirs = first">
            <img class="carousel-item-img" [src]="item.profile_path | poster" alt="Card image">
            <div class="carousel-caption d-none d-md-block">
            <div style="width: 700px!important; margin: auto!important;padding-left: 50px;">
                <h5>{{ item.name }}</h5>
                <p>{{ item.id }}</p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, quia obcaecati exercitationem delectus rerum excepturi saepe, eveniet deleniti voluptates dolore perspiciatis inventore quos, in nesciunt reprehenderit facilis accusantium cumque vel!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus hic eos error labore ex eaque culpa impedit beatae, exercitationem illo deserunt iure dolor sunt voluptatum, quas nam magni sit!
                <a [href]="item.profile_path" >Ver Img</a>

            </div>
        </div>
        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


