<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<div class="row animated__animated animated__fadeIn animated__faster" *ngIf="pelicula">
    <div class="col-md-6">
      <img [src]="pelicula.poster_path | poster" [alt]="pelicula.title" class="img-thumbnail">
    </div>
    <div class="col-md-6">
      <h2>{{ pelicula.title }} <small>{{ pelicula.original_title }}</small></h2>
      <p>{{ pelicula.release_date | date: 'dd/MM/yyyy' }}</p>
      <p>{{ pelicula.vote_average }}</p>
      <p>{{ pelicula.overview }}</p>
      <p><a [href]="'https://www.youtube.com/results?search_query='+pelicula.original_title">Ver Página Oficial</a></p>
      
      <div class="rating-container">
        <h3>Calificar esta película</h3>
        <div class="stars">
            <button *ngFor="let star of stars; let i = index" (click)="rateMovie(i + 1)">
                <i class="fa" [ngClass]="{'fa-star': i < rating, 'fa-star-o': i >= rating}" aria-hidden="true"></i>
            </button>
        </div>
        <textarea [(ngModel)]="comment" placeholder="Deja tu comentario"></textarea>
        <button (click)="submitReview()">Enviar</button>
      </div>
    </div>
  </div>
  
  <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
  <app-similar [same]="similar"></app-similar>
  

