
<!-- <div *ngFor="let item of movies; ">
   {{item.title}}
</div>       -->

<div class="card-columns m-5 animated fadeIn">
   <div  *ngFor="let item of movies" class="card puntero"  [ngStyle]="{
      'background-size': 'cover',
      'background-image': 'url(https://image.tmdb.org/t/p/w500'+ item.backdrop_path +')'
  }">
       <div class="card-body">
           <h5 class="card-title">{{ item.title }}</h5>
           <p class="card-text">
               {{ item.id }}
           </p>
       </div>
   </div>
</div>